:host {
    min-width: 500px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px 8px 8px 24px;
    background-color: white;

}

input.new-choice {
    font-size: 24px;
    margin-bottom: 1rem;
}